.container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subCont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
}

@media screen and (max-width: 1400px) {
  .subCont {
    width: 95%;
  }
}

@media screen and (max-width: 740px) {
  .subCont {
    margin-top: 150px;
  }
}

.title {
  font-weight: bold;
  font-size: 37px;
  width: 400px;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .title {
    width: 95%;
  }
}

.paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 740px) {
  .paragraphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.desc {
  margin-right: 45px;
  margin-bottom: 50px;
  width: 480px;
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 740px) {
  .desc {
    width: 90%;
  }
}

.desc2 {
  margin-bottom: 50px;
  width: 500px;
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 740px) {
  .desc2 {
    width: 90%;
  }
}

.text {
  color: #464646;
}

.link {
  margin-top: 20px;
  color: #0069ff;
  cursor: pointer;
  font-weight: bold;
}

.video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 80px;
}

.container2 {
  margin-top: -50px;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .container2 {
    width: 95%;
  }
}

@media screen and (max-width: 740px) {
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col1 {
  width: 49%;
}

@media screen and (max-width: 740px) {
  .col1 {
    width: 100%;
  }
}

.terminal {
  width: 100%;
}

.col2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 49%;
}

@media screen and (max-width: 740px) {
  .col2 {
    width: 100%;
    margin-top: 20px;
  }
}

.droplet {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 740px) {
  .row {
    width: 100%;
    padding: 0;
  }
}

.CEO {
  margin: 30px;
  margin-left: 0;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  letter-spacing: 1px;
}

@media screen and (max-width: 740px) {
  .CEO {
    margin-left: 0;
  }
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  min-width: 60px;
  min-height: 60px;
  margin: 30px 0px 30px 0px;
}
/*# sourceMappingURL=CloudComputing.module.css.map */