$macbook: 1400px;
$column: 740px;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media screen and (max-width: $column) {
    margin-bottom: 0;
  }
}

.subContainer {
  width: 1200px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 2em;
  @media screen and (max-width: 1260px) {
    width: 95%;
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: row;
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: 49% 49%;
  }
  @media screen and (max-width: $column) {
    width: 85%;
  }
  @media (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.linkCol {
  @media screen and (max-width: $column) {
    width: 35%;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 466px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.link {
  margin-bottom: 12px;
  cursor: pointer;
  color: #535772;
  font-weight: lighter;
  &:hover {
    color: black;
  }
}
